body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

#container {
    width: 500px;
    height: 700px;
    background: blanchedalmond;
    margin: 20px auto;
    text-align: center;
}

#title {
    color: cornflowerblue;
    font-size: 60px;
}

#sub {
    margin-top: -50;
    color: crimson;
}

#calculator {
    width: 318px;
    height: 540px;
    background-image: url(Ubuntu/home/antonysanders1/projects/kidcal/images/kidcal.png);
    background-color: blanchedalmond;
    margin: 0px auto;
    position: relative;
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    /* background-color: cyan; */
    height: 20px;
    margin: 0px 85px;
    padding-top: 82px;
    font-size: 15px;
    color: #919191;
}

#output {
    text-align: right;
    /* background-color: darkgray; */
    height: 40px;
    margin: -10px 80px;
    font-size: 30px;
}

#keyboard {
    height: 400px;
    width: 240px;
    margin: 20px 0 0 22px;
    /* background-color: darkgray; */
}

.operator,
.number {
    width: 52px;
    height: 52px;
    border-width: 0;
    border-radius: 20%;
    margin: 3px;
    float: left;
    cursor: pointer;
}

.operator {
    background-color: darkgray;
    font-size: 18px;
    font-weight: bold;
}

.number {
    font-size: 24px;
    font-weight: bolder;
    color: skyblue;
    background-color: white;
}

#equal {
    width: 108px;
    border-radius: 10%;
}

.operator:active,
.number:active {
    font-size: 12px;
}

.operator:focus,
.number:focus {
    outline: 0;
}

button:nth-child(4) {
    background-color: #20b2aa;
}

button:nth-child(8) {
    background-color: #ffa500;
}

button:nth-child(12) {
    background-color: #f08080;
}

button:nth-child(16) {
    background-color: #7d93e0;
}

button:nth-child(19) {
    background-color: #9477af;
}